# Node.js and dependencies
/node_modules

# Tailwind CSS build files

# VS Code files
.vscode/

# Ignore log files
*.log
npm-debug.log*

# GitamTales specific files
# The .sqlite files and .codeium should not be committed
*.sqlite
.codeium/
.env
backend/.env
backend/node_modules/