DATABASE_URL=postgres://user:password@localhost/db
JWT_SECRET=secret
PORT=5000
JWT_EXPIRES_IN=7d
GROQ_API_KEY=your_groq_api_key
RESEND_API_KEY=your_resend_api_key
FRONTEND_URL=https://gitamtales.vercel.app
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
